<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>
<body>
Welcome, <span th:text="${loginName}" /><br />
<a href="/admin">admin</a>
<br>
<a href="/private-project">private-project</a>
<br>
<a href="/public-project">public-project</a>
<br>
<a href="/logout">Logout</a>
<br>
<div sec:authorize="hasRole('MEMBER')">
    member!!
</div>

<div sec:authorize="hasRole('ADMIN')">
    admin!!!
</div>

<div sec:authorize="hasRole('ADMIN') or hasRole('MEMBER')">
    member or admin
</div>

</body>
</html>